html {
  background-image: url("/src/images/background.jpg");
  height: 100%;
  min-width: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

body {
  background-color: transparent;
  height: 100%;
}

hr {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  background-color: white;
  border-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  line-height: 1.3;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hover-show {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hover-show-container:hover .hover-show {
  visibility: visible;
  opacity: 1;
}

.list {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.list:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.list-flex > hr {
  background-color: white;
}

.list-flex {
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: white solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgb(70, 70, 70);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.list-flex:hover {
  background-color: rgb(104, 108, 109);
}

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #e9ecef;
  border-right: ridge;
}

.content {
  margin: 0px;
}

.transparent {
  background-color: transparent;
}

.gradient-h {
  background-image: linear-gradient(black, transparent);
  background-color: transparent;
}

.bg-clear {
  background-color: transparent;
}

.pointer {
  cursor: pointer;
}

.black-t {
  background-color: rgba(0, 0, 0, 0.5);
}

.input-edit {
  background: transparent;
  border: none;
  color: white;
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  background-color: white;
}

.add-category {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  opacity: 0.2;
  margin-top: auto;
}

.add-category:hover {
  opacity: 1;
}

.jumbotron-login {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  min-width: 600px;
}

.login {
  width: 70%;
}

.c {
  color: rgb(36, 255, 36);
}
