html {
  min-width: 500px;
}

p {
  font-size: 12px;
}

body {
  background-image: url('./images/background.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  background-color: gray;
  border-top: 1px solid white;
}

h1, h2, h3, h4, h5 {
  font-family: 'DM Sans', sans-serif;
}


h5 {
  color: #B0EBF5;
  color: #f0b5aa
}

h1, h4 {
  color: #B0EBF5;
}

.btn {
  font-size: 12px;
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
}

.bg-dark-tg {
  background: linear-gradient(to left, transparent , rgb(0, 0, 0));
}

.bg-dark-t {
  background: rgba(0,0,0,0.9);
}

.urgency-high {
  background: linear-gradient(to right, transparent , #2d88a3c0, transparent);
}

.urgency-low {
  background-color: inherit;
}

.txt-blue {
  color: #B0EBF5;
}

.txt-dark {
  color: black;
}

.login {
  z-index: 999;
  margin: 10%;
  background-color: black;
  width: 80%;
}

.w-30 {
  max-width: 30%;
}